/* Write your CSS code here */
.blog-item-list {
  margin-bottom: 5px;
}
.title-date {
  display: flex;
  justify-content: space-between;
}
.heading {
  color: #12022f;
}
.description {
  padding-top: 5px;
  color: #9aa5b1;
}
